[user]
        name = sumit
        email = sumit.saha@notvaliddomain.com
[core]
        # editor = code --wait
        editor = vim
        autocrlf = input
        fscache = true
        symlinks = false
        excludesfile = ~/.gitignore_global
[commit]
        template = ~/.gitmessage.txt
[fetch]
        prune = true
[pull]
        rebase = true
[rebase]
        autoStash = true
[filter "lfs"]
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
        required = true
[init]
        defaultBranch = main
[help]
        autocorrect = 1

